.account {
    background-color: WhiteSmoke;
  
    ion-card-header {
      font-size: 15px;
      font-weight: normal;
    }
  
    ion-card-content {
      font-size: 14px;
      float: right;
      color: #387ef5;
    }
  
    ion-card {
      width: 93%;
      background-color: white;
    }
  
    hr {
      width: 97%;
    }
  
    .ion-label {
      color: #387ef5;
    }
  }
  