.product-sub-category {
    background-color: WhiteSmoke;
  
    img {
      height: 37px;
      width: 37px;
      width: auto;
      margin-left: 20px;
    }
  
    .text-align {
      font-weight: normal;
      font-size: 14px;
      text-indent: -65px;
      padding-top: 15px;
      color: black;
    }
  
    ion-item {
      margin: 2.5px;
      padding: 0px;
      border: solid white 0px;
      width: 100%;
      background-color: white;
    }
  }
  