<ion-header>
    <ion-toolbar>
      <ion-nav color="primary">
        <ion-title>
            Reset Password
        </ion-title>
    </ion-nav>  </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <div *ngIf="email">
      <ion-item *ngIf="emailButton1">
          <ion-label floating>Email/Mobile</ion-label>
          <ion-input type="text" [(ngModel)]="loginId"></ion-input>
      </ion-item>
      <button ion-button (click)="generateOTP();" *ngIf="emailButton1">Send OTP</button>
  </div>
  </ion-content>
  