<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="login">
  
  <div class="image-size">
      <img src="../../../assets/images/Login.png"/>
  </div>
  <div padding>
</div>
<form [formGroup]="myForm" (ngSubmit)="submit()">
    <ion-item>
        <ion-label primary floating>Email/Mobile</ion-label>
        <ion-input type="text" id="username" class="form-control" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label primary floating>Password</ion-label>
        <ion-input type="password" id="password" class="form-control" formControlName="password"></ion-input>
    </ion-item>
    <p>{{loginMsg}}</p>
    <div padding>
    </div>
    <button ion-button full round color="light" type="submit" [disabled]="!myForm.valid"><b>LOGIN</b>
    </button>
    <br>
</form>
<div class="text" (click)="forgotPasswd()">
    <p> Forgot your password ?</p>
</div>
<div class="text-padding-bottom" (click)="registration();">
    <p> No account yet ? <b>Create One</b>
    </p>
</div>
</ion-content>