<ion-header class="registertion">
    <ion-toolbar>
      <ion-nav color="primary">
        <ion-title>
          Registration
        </ion-title>
      </ion-nav>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <ion-list>
          
        <ion-row class="head">
            <!--personal details -->
          <p>Personal Details</p>
        </ion-row>
        <ion-list>
          <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input
              type="text"
              id="first_name"
              class="form-control"
            ></ion-input>
          </ion-item>
          <p>
            <small class="up">
              <strong
                ><i>
                  Please enter minimum 3 characters
                </i></strong
              >
            </small>
          </p>
  
          <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input
              type="text"
              id="last_name"
              class="form-control"
            ></ion-input>
          </ion-item>
          <p>
            <small class="up">
              <strong
                ><i>
                  Please enter minimum 3 characters
                </i></strong
              >
            </small>
          </p>
  
          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" id="email" class="form-control"></ion-input>
          </ion-item>
          <p class="alert alert-danger">
            <small class="up">
              <strong>
                <i>
                  Please Enter Valid Email Address!
                </i></strong
              >
            </small>
          </p>
  
          <ion-item>
            <ion-label floating>Phone number</ion-label>
            <ion-input type="number" id="mobile" class="form-control"></ion-input>
          </ion-item>
          <p>
            <small class="up">
              <strong
                ><i>
                  Phone number must be 10 digits!
                </i></strong
              >
            </small>
          </p>
  
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input
              type="password"
              id="password"
              class="form-control"
            ></ion-input>
          </ion-item>
          <p>
            <small class="up">
              <strong
                ><i>
                  Password must contain atleast 6 Char
                </i></strong
              >
            </small>
          </p>
  
          <ion-item>
            <ion-label floating>Re-enter Password</ion-label>
            <ion-input
              type="password"
              id="reenterpassword"
              class="form-control"
            ></ion-input>
          </ion-item>
          <p>
            <small class="up">
              <strong
                ><i>
                  Renter Password must contain atleast 6 Char
                </i></strong
              >
            </small>
          </p></ion-list
        >
  
        <!--company details-->
        
  
        
      </ion-list>
  
      <button ion-button full type="submit" color="primary">Register</button>
    </form>
  </ion-content>
  