<ion-header [translucent]="true">
  <ion-toolbar>  
    <ion-buttons end>
      <button ion-button (click)="quickOrderFn();">
        <ion-icon name="search"></ion-icon>
      </button>
      &nbsp;&nbsp;&nbsp;

      <button ion-button (click)="wishListFn();">
        <ion-icon name="heart"></ion-icon>
        <div class="qntyColor">{{wishlistCount}}</div></button
      >&nbsp;&nbsp;&nbsp;

      <button ion-button (click)="cartFn();">
        <ion-icon name="cart"></ion-icon>
        <div class="qntyColor">{{cartCount}}</div>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--side menu starts here-->
<ion-menu side="start" menuId="first" contentId="main" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-header>
        <div padding>
          &nbsp; &nbsp;
          <ion-icon md="md-home" ios="ios-home" class="icon"></ion-icon>&nbsp;
          &nbsp; &nbsp; &nbsp;<b>Replace me by company name</b>
        </div>
      </ion-header>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="iconSize">
      <ion-item (click)="account();" menuClose>
        <ion-icon name="contact" item-left></ion-icon> My account
      </ion-item>
      <ion-item (click)="wishListFn();" menuClose>
        <ion-icon name="heart" item-left></ion-icon> Wish List
      </ion-item>
      <ion-item (click)="cartFn();" menuClose>
        <ion-icon name="cart" item-left></ion-icon> My cart
      </ion-item>
      <!--<ion-item  (click)="amoutremain();"  menuClose>
        <ion-icon name="card" item-left></ion-icon> Pay
    </ion-item>-->
      <ion-item (click)="sellerinfo();" menuClose>
        <ion-icon name="eye" item-left></ion-icon> Seller Info
      </ion-item>
      <ion-item (click)="call();" menuClose>
        <ion-icon name="call" item-left></ion-icon> Contact Us
      </ion-item>
      <!--<ion-item (click)="chart();" menuClose>Chart</ion-item>-->
      <ion-item (click)="logout();" menuClose>
        <ion-icon name="log-out" item-left></ion-icon> Logout
      </ion-item>
      <p class="version">
        <strong>
          <i>
            version : {{appVersionnumber}}
          </i>
        </strong>
      </p>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" id="main">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
