<ion-header [translucent]="true">
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>

  <ion-buttons end>
    <button ion-button (click)="quickOrderFn();">
        <ion-icon name="search"></ion-icon>
    </button> &nbsp;&nbsp;&nbsp;

    <button ion-button (click)="wishListFn();">
        <ion-icon name="heart"></ion-icon>
        <div class="qntyColor">{{wishlistCount}}</div>

    </button>&nbsp;&nbsp;&nbsp;

    <button ion-button (click)="cartFn();">
        <ion-icon name="cart"></ion-icon>
        <div class="qntyColor">{{cartCount}}</div>
    </button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-header>
      <div padding> &nbsp; &nbsp;
          <ion-icon md="md-home" ios="ios-home" class="icon"></ion-icon>&nbsp; &nbsp; &nbsp; &nbsp;<b>loginData.data.customer.company_name</b>
      </div>
  </ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
